@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

* {margin: 0px; box-sizing: border-box; font-family: 'Space Grotesk', sans-serif;}

@media only screen and (max-width: 1440px) {

    body {
        display: flex;
        justify-content: center;
    }

        /* Cards */

    img, #card-number-on-the-image, #cardholder-name-on-the-image, #card-expiry-date, #cvc-on-the-blank-card {
        position: absolute;
    }

    #mobile-bg {
        height: 55vw;
        width: 100vw;
    }

    #card-number-on-the-image, #cardholder-name-on-the-image, #card-expiry-date, #cvc-on-the-blank-card {
        color: white;
        letter-spacing: 0.1em;
    }

    #bg-card-front, #bg-card-back {
        width: 65vw;
    }

    #bg-card-front {
        margin: 30% 0% 0% 10%;
    }

    #bg-card-back {
        margin: 10% 0% 0% 21%;
    }

    #cvc-on-the-blank-card {
        margin: 26% 0% 0% 72%;
        font-size: 2.5vw;
    }

    #card-logo {
        width: 15%;
        margin: 34% 0% 0% 14%;
    }

    #card-number-on-the-image {
        margin: 49% 0% 0% 14%;
        font-size: 4vw;
    }

    #cardholder-name-on-the-image {
        margin: 57.5% 0% 0% 14%;
        font-size: 2.5vw;
    }

    #card-expiry-date {
        margin: 57.5% 0% 0% 60%;
        font-size: 2.5vw;
    }

    /* Form */

    form {
        margin-top: 80%;
    }

    article {
        display: flex;
        flex-wrap: wrap;
    }

    input {
        margin: 2% 10% 4% 10%;
        height: 15vw;
        font-size: 5vw;
        font-weight: bold;
        padding-left: 4vw;
    }

    label {
        margin: 2% 10% 4% 10%;
        font-size: 3vw;
        font-weight: 600;
        color: hsl(278, 68%, 11%);
        letter-spacing: 0.2em;
    }

    .error-in-form {
        margin: -2% 0% 1% 10%;
        font-size: 0.6em;
        color: hsl(0, 100%, 66%);
    }

    #error-cvc {
        margin-left: 2%;
        width: 40%;
    }

    #error-expiry-date {
        width: 40%;
    }

    #error-confirm {
        margin-left: 40%;
    }

    #cardholder-name, #card-number, #cardholder-name-label, #card-number-label, #confirm {
        width: 80%;
        border-radius: 2.5vw;
        
    }

    #cardholder-name, #card-number, #expiry-date-month, #expiry-date-year, #cvc {
        border-width: 0.1vw;
        border-color: hsl(270, 3%, 87%);
        border-style: solid;
    }

    #cardholder-name::placeholder, #card-number::placeholder, #expiry-date-month::placeholder, #expiry-date-year::placeholder, #cvc::placeholder {
        color: hsl(270, 3%, 87%);
    }

    #cardholder-name:focus, #card-number:focus, #expiry-date-month:focus, #expiry-date-year:focus, #cvc:focus {
        outline: none;
        background: 
        linear-gradient(white 0 0) padding-box,
        linear-gradient(to right, hsl(249, 99%, 64%), hsl(278, 94%, 30%)) border-box;
        border: 0.5vw solid transparent;
        border-radius: 2.5vw;
    }


    #expiry-label {
        margin-right: 13%;
    }

    #expiry-date-month, #expiry-date-year {
        margin-top: -1%;
        width: 19%;
        border-radius: 2.5vw;
    }

    #expiry-date-year {
        margin-left: -9%;
    }

    #cvc, #cvc-label {
        width: 38%;
        margin-left: -8%;
        border-radius: 2.5vw;
    }

    #cvc {
        margin-top: -1%;
    }

    #confirm {
        background-color: hsl(278, 68%, 11%);
        color: white;
        border: 0px;
        font-size: 5vw;
        font-weight: normal;
        color: hsl(270, 3%, 87%);
    }

    /* Information about turn off JS */

    #off-js {
        position: absolute;
        width: 80%;
        margin: 185% 10% 0% 10%;
        font-weight: bold;
        font-size: 5vw;
        letter-spacing: 0.1em;
        color: hsl(278, 68%, 11%);
    }

}